/* Promo bar styling */
.promo-bar {
  background-color: #111;
  font-size: 15px;
}

/* Hero section */
.hero-section {
  height: 90vh;
  overflow: hidden;
  position: relative;
}
.hero-section img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.hero-content {
  color: white;
}
.cursor-pointer {
  cursor: pointer;
}
